<div fxLayout="column">

    <div class="header" fxLayout="row" fxLayoutAlign="start center"
        style="background-color:#8e44ad; color:white; padding:20px; font-size:25px;">
        <mat-icon matSuffix (click)="drawer.toggle()" style="margin-right:20px; cursor:pointer;">menu</mat-icon>
        CRISP Analytics Dashboard
    </div>

    <mat-drawer-container class="example-container" hasBackdrop=false autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color:#FFFFFF;">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['dashboard']"><mat-icon class="menu_icon">dashboard</mat-icon>Dashboard</a>
                <a mat-list-item [routerLink]="['main']"><mat-icon class="menu_icon">list</mat-icon>Main Records</a>
                <a mat-list-item [routerLink]="['operators']"><mat-icon class="menu_icon">people</mat-icon>Operators</a>
                <style>
                    .menu_icon{
                        margin-right:10px;
                    }
                </style>
            </mat-nav-list>
        </mat-drawer>

        <div style="padding:20px">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>


    <!--<div style="margin:10px;">
        <router-outlet></router-outlet>
    </div>-->


    



</div>