<div fxLayout='column' fxLayoutAlign='stretch stretch'>

    <div fxLayout="row" fxLayoutAlign="space-around center" style="background-color:white">
      <div fxFlex="20px"></div>
      <div><h5>Operator Stats</h5></div>
      <div fxFlex></div>
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
      <div fxFlex="20px"></div>
    </div>
  
  
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort matSortActive="conversations_answered" matSortDirection="desc" flex=100 >
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Operator</th>
        <td mat-cell *matCellDef="let e">{{e.name}}</td>
      </ng-container>

      
      <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Conversations</th>
          <td mat-cell *matCellDef="let e">{{e.active_conversations}}</td>
        </ng-container>
  
      <ng-container matColumnDef="conversations_answered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Conversations Answered</th>
        <td mat-cell *matCellDef="let e">{{e.conversations_answered}}</td>
      </ng-container>

      <ng-container matColumnDef="assigned_answered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Answered (assigned)</th>
        <td mat-cell *matCellDef="let e">{{e.assigned_answered}}</td>
      </ng-container>

      <ng-container matColumnDef="unassigned_answered">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Answered (unassigned)</th>
        <td mat-cell *matCellDef="let e">{{e.unassigned_answered}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[perPage,10]" showFirstLastButtons></mat-paginator>

    <div *ngIf="!loaded" fxLayout="column" fxLayoutAlign="center center" [style.width.px]="width"
    [style.height.px]="height" [style.backgroundColor]='red'>
    <div fxLayout='row' fxLayoutAlign='center center'>
      <h5>{{title}}</h5>
    </div>
    <mat-spinner [diameter]='50'></mat-spinner>
  </div>

  </div>