<h2 mat-dialog-title>Assigned Countries for {{data.operator.name}}</h2>
<h5 mat-dialogtitle>{{selectedToString()}}</h5>
<mat-dialog-content>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox>
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox  [(ngModel)]="selected[element.name]"></mat-checkbox>
          </td>
        </ng-container>
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element"><span style="margin-left:20px;"> {{element.name}} </span></td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
      
      </table>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button (click)="submit()"> Submit</button>
</mat-dialog-actions>