<div fxLayout="column" fxLayoutAlign="stretch stretch">

  <div fxLayout="row" fxLayoutAlign="center center">

    <div fxLayout="column" fxFlex="80" fxLayoutGap="0px">

      <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title>Main Statistics</mat-card-title>
          <button mat-stroked-button color="primary" (click)="newRecord()">Add New</button>
        </div>

      </mat-card>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="week_start" matSortDirection="desc">
        <ng-container matColumnDef="week_start">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Week Start</th>
          <td mat-cell *matCellDef="let e"> {{e.week_start}} </td>
        </ng-container>

        <ng-container matColumnDef="helpdesk_reads">
          <th mat-header-cell *matHeaderCellDef>Helpdesk Reads</th>
          <td mat-cell *matCellDef="let e"> {{e.helpdesk_reads}} </td>
        </ng-container>

        <ng-container matColumnDef="people_created">
          <th mat-header-cell *matHeaderCellDef>People Created</th>
          <td mat-cell *matCellDef="let e"> {{e.people_created}} </td>
        </ng-container>

        <ng-container matColumnDef="new_conversations">
          <th mat-header-cell *matHeaderCellDef>New Conversations</th>
          <td mat-cell *matCellDef="let e"> {{e.new_conversations}} </td>
        </ng-container>

        <ng-container matColumnDef="conversations_assigned">
          <th mat-header-cell *matHeaderCellDef>Conversations Assigned</th>
          <td mat-cell *matCellDef="let e"> {{e.conversations_assigned}} </td>
        </ng-container>

        <ng-container matColumnDef="mean_rating">
          <th mat-header-cell *matHeaderCellDef>Mean Rating</th>
          <td mat-cell *matCellDef="let e"> {{e.mean_rating}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let e">
            <mat-icon matSuffix (click)="edit(e.week_start)">edit</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let e">
              <mat-icon matSuffix (click)="delete(e.week_start)">delete</mat-icon>
            </td>
          </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </div>

</div>

<!--<table mat-table>
    <tr>
      <th mat-table-header="name"></th>
      <th mat-table-header="name"></th>
      <th mat-table-header="name"></th>
      <th mat-table-header="name"></th>
      <th mat-table-header="name"></th>
      <th mat-table-header="name"></th>
    </tr>
  
    <tr *ngFor="let item of items | async">
      <td>{{item.week_start}}</td>
      <td>{{item.helpdesk_reads}}</td>
      <td>{{item.people_created}}</td>
      <td>{{item.new_conversations}}</td>
      <td>{{item.conversations_assigned}}</td>
      <td>{{item.mean_rating}}</td>
    </tr>
  </table>
-->